In [1]:
import pandas as pd
%load_ext dotenv
%dotenv
%run helpers.py

In [33]:
(data
   .stack()
   .reset_index()
   .set_index('Date')
   .rename(index=str, columns={"level_1": "Symbol"})
   .sort_index()
 )

,Symbol,Adj Close,Close,High,Low,Open,Volume
Date,,,,,,,
2017-01-03 00:00:00,AAPL,27.023703,29.037500,29.082500,28.690001,28.950001,115127600
2017-01-03 00:00:00,SPY,199.819534,225.240005,225.830002,223.880005,225.039993,91366500
2017-01-04 00:00:00,AAPL,26.993460,29.004999,29.127501,28.937500,28.962500,84472400
2017-01-04 00:00:00,SPY,201.008301,226.580002,226.750000,225.610001,225.619995,78744400
2017-01-05 00:00:00,AAPL,27.130726,29.152500,29.215000,28.952499,28.980000,88774400
...,...,...,...,...,...,...,...
2024-01-08 00:00:00,SPY,474.600006,474.600006,474.750000,468.299988,468.429993,74879100
2024-01-09 00:00:00,AAPL,185.139999,185.139999,185.149994,182.729996,183.919998,42841800
2024-01-09 00:00:00,SPY,473.880005,473.880005,474.929993,471.350006,471.869995,65931400
2024-01-10 00:00:00,AAPL,186.190002,186.190002,186.399994,183.919998,184.350006,45783329
2024-01-10 00:00:00,SPY,476.559998,476.559998,477.448090,473.869995,474.160004,66379560

In [23]:
df: pd.DataFrame = pd.read_parquet(raw_path('tickets.parquet')).set_index('Date')
df.head()

,Symbol,Adj Close,Close,High,Low,Open,Volume
Date,,,,,,,
2017-01-03,AAPL,27.023703,29.037500,29.082500,28.690001,28.950001,115127600
2017-01-03,SPY,199.819534,225.240005,225.830002,223.880005,225.039993,91366500
2017-01-04,AAPL,26.993460,29.004999,29.127501,28.937500,28.962500,84472400
2017-01-04,SPY,201.008301,226.580002,226.750000,225.610001,225.619995,78744400
2017-01-05,AAPL,27.130726,29.152500,29.215000,28.952499,28.980000,88774400

In [14]:
df[df['Symbol'] == 'AAPL'].rename(columns={
   'Close': 'close',
   'High': 'high',
   'Low': 'low',
   'Open': 'open',
   'Volume': 'volume'
}).assign(dividend=0,split=0).to_parquet(interim_path('zipline/daily/abc.parquet'))

In [29]:

from evolufy.transformation import DartsTimeSerieEvolufy
symbol = 'AAPL'

(DartsTimeSerieEvolufy.from_dataframe(symbol=symbol, df=df[df['Symbol'] == symbol])
 .pd_dataframe()
 .rename(columns={
            'Close': 'close',
            'High': 'high',
            'Low': 'low',
            'Open': 'open',
            'Volume': 'volume'
        }).assign(dividend=0, split=0).to_csv('abc')
 )